/*.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}*/

 /*commone*/
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
}



/* header */
.body {
    font-family:sans-serif;
    color:#2E2F42
}
.header-logo {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo .Studio {
    color: #2E2F42;
}
.header-nav-list {
    color:#2E2F42;
    font-family: sans-serif,"Raleway";
    font-weight: 700;
}
.header-address-item {
    color:#2E2F42;
        font-family: sans-serif,"Raleway";
        font-weight: 300;
}
.HeroSection-h1 {
    font-family: sans-serif,"Roboto";
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
    color: #ffffff;
    background-color: #2E2F42;
    Width:1440px;
    Height: 110px;
    Top:72px;
    display: flex;
    justify-content: center;
    align-items: center-height 100px;
   
}


.Order-Service {
    font-family: sans-serif;
    font-weight: 400;
    background-color:#4D5AE5;
    color: #ffffff;
    font-size: 1rem;
    transform: translateY(-57px);
} 
.Qualities {
    font-family: sans-serif,"Roboto";
    font-weight: 700;
    color:#2E2F42
}
.WebStudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color:#4D5AE5;
}
.OurT {
    display: flex;
    justify-content: center;
    align-items: center-height;
}
.limage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.footer-text {
    
    font-family: sans-serif, "Roboto";
        font-weight: 700;
        color: #2E2F42
}
.Web-down {
    font-family:'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.footer-down {
    color: #2E2F42;
}

    
.Portfolio {display: flex;
justify-content: center;
align-items: center-height;
}
